@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #4e75d0 50%, #e16161 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}

.container {
    text-align: center;
    image-rendering: pixelated;
}

.header {
    position: absolute;
    top: 60px; /* Ajusta esta distancia desde la parte superior */
    left: 51%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centrado horizontal */
    text-align: center;
}

.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: black;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.7);
    margin: 0;
}



.cloud img {
    width: 800px;
    image-rendering: pixelated;
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    image-rendering: pixelated;
}

.icons img {
    width: 80px;
    margin-bottom: 10px;
}

.teatro {
    transform: translate(100%, -90%);
}

.juego {
    transform: translate(50%, 40%);
}

.comida {
    transform: translate(50%, -100%);
}

.deporte {
    transform: translate(0%, 140%);
}

.ciencia {
    transform: translate(-50%, -120%);
}

.cine {
    transform: translate(-45%, 80%);
}

.libro {
    transform: translate(-100%, -90%);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    transform: translate(85%, -80%);
    image-rendering: pixelated;
}

button {
    background-color: #8c8c8c;
    color: white;
    border: 3px solid black;
    padding: 10px 30px;
    font-size: 1.2em;
    font-family: "Press Start 2P", sans-serif;
    width: 300px;
    height: 75px;
    cursor: pointer;
    image-rendering: pixelated;
    box-shadow: 3px 3px 0 black; /* Sombra de 8 bits */
}

button:hover {
    background-color: #6d6d6d;
}
