<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/TP-Final-QuizStorm/public/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <i class="fas fa-cloud"></i> Quiz Storm
    </div>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Historial</a>
        <a href="#">Ranking</a>

    </nav>
    <div class="logout">
        <a href="#">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </div>
</header>-->