<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/public/pagInicio.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>QuizStorm</h1>
    </div>
    <div class="cloud">
        <img src="public/images/Nube.png" alt="Nube de tormenta">
    </div>
    <div class="icons">
        <img src="public/images/teatro.png" alt="Teatro" class="teatro">
        <img src="public/images/joystick.png" alt="Videojuegos" class="juego">
        <img src="public/images/burger.png" alt="Comida" class="comida">
        <img src="public/images/pelota.png" alt="Deporte" class="deporte">
        <img src="public/images/ciencia.png" alt="Ciencia" class="ciencia">
        <img src="public/images/pop.png" alt="Cine" class="cine">
        <img src="public/images/libro.png" alt="Libros" class="libro">
    </div>
    <div class="buttons">
        <button onclick="window.location.href='/login'">INICIAR SESIÓN</button>
        <button onclick="window.location.href='/register'">REGISTRARME</button>
        <button onclick="window.location.href='/lobby'">IR AL LOBBY</button> <!--PRUEBA PARA VER EL LOBBY-->
        <button onclick="window.location.href='/jugarPartida'">PARTIDA</button> <!--PRUEBA PARA VER LA PARTIDA-->

    </div>
</div>
</body>
</html>


