<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lobby - Quiz Storm</title>
    <link rel="stylesheet" href="/public/lobby.css">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="public/images/tormenta.png" alt="Logo">
            <h1>Quiz Storm</h1>
        </div>
        <div class="user-icon">
            <img src="public/images/usuarioNuevo.png" alt="Usuario">
        </div>
    </header>
    <main>
        <section class="partidas-jugadas">
            <h2>Partidas Jugadas</h2>
            <ul>
                <li class="win">Partida n: #0001 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0002 <span>12.568 Puntos</span></li>
                <li class="lose">Partida n: #0003 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0004 <span>12.568 Puntos</span></li>
                <li class="lose">Partida n: #0005 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0006 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0007 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0008 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0009 <span>12.568 Puntos</span></li>
                <li class="lose">Partida n: #0010 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #00011 <span>12.568 Puntos</span></li>
                <li class="lose">Partida n: #0012 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0013 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0014 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0015 <span>12.568 Puntos</span></li>
                <li class="lose">Partida n: #0016 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0017 <span>12.568 Puntos</span></li>
                <li class="win">Partida n: #0018 <span>12.568 Puntos</span></li>
            </ul>
            <div class="button-container">
                <button>Ver todas</button>
            </div>
        </section>

        <section class="jugador-info">
            <h2>Jugador Jugador <span>#0000</span></h2>
            <p>Puesto #n: 12.568 Puntos</p>
            <p>Partidas ganadas: 20</p>
            <div class="button-container">
                <button>Crear Pregunta</button>
            </div>
            <div class="button-container-pregunta">
                <button onclick="window.location.href='/jugarPartida/iniciarPartida'">Nueva Partida (Clásica)</button>
                <button>Nueva Partida (Custom)</button>
            </div>
        </section>

        <section class="ranking-global">
            <h2>Ranking Global</h2>
            <ul>
                <li>🏅 Jugador Jugador <span>#0001</span> <span>12.568 Puntos</span></li>
                <li>🥈 Jugador Jugador <span>#0002</span> <span>10.568 Puntos</span></li>
                <li>🥉 Jugador Jugador <span>#0003</span> <span>10.018 Puntos</span></li>
                <li>Jugador Jugador <span>#0004</span> <span>8.959 Puntos</span></li>
                <li>Jugador Jugador <span>#0005</span> <span>8.759 Puntos</span></li>
                <li>Jugador Jugador <span>#0006</span> <span>8.459 Puntos</span></li>
                <li>Jugador Jugador <span>#0007</span> <span>8.023 Puntos</span></li>
                <li>Jugador Jugador <span>#0008</span> <span>7.759 Puntos</span></li>
                <li>Jugador Jugador <span>#0009</span> <span>7.289 Puntos</span></li>
                <li>Jugador Jugador <span>#0010</span> <span>6.943 Puntos</span></li>
                <li>Jugador Jugador <span>#0011</span> <span>6.223 Puntos</span></li>
                <li>Jugador Jugador <span>#0012</span> <span>6.186 Puntos</span></li>
                <li>Jugador Jugador <span>#0013</span> <span>5.715 Puntos</span></li>
                <li>Jugador Jugador <span>#0014</span> <span>5.343 Puntos</span></li>
                <li>Jugador Jugador <span>#0015</span> <span>4.223 Puntos</span></li>
                <li>Jugador Jugador <span>#0016</span> <span>4.786 Puntos</span></li>
                <li>Jugador Jugador <span>#0017</span> <span>2.115 Puntos</span></li>
            </ul>
            <div class="button-container">
                <button>Categorías</button>
            </div>
        </section>
    </main>
</div>
</body>
</html>

